<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://127.11.176.130:3306/randoms</property>


    <!--<property name="connection.url">jdbc:mysql://localhost:3306/random</property>-->
    <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    <!--<property name="hibernate.show_sql">true</property>-->
    <!--<property name="hibernate.connection.username">root</property>-->
    <!--<property name="hibernate.connection.password">root</property>-->
    <property name="hibernate.connection.username">adminZcDrchy</property>
    <property name="hibernate.connection.password">yN91x_BvFZLz</property>
    <mapping class="edu.randomvar.mvc.domain.UserRoles"/>
    <mapping class="edu.randomvar.mvc.domain.Users"/>
     <!--DB schema will be updated if needed-->
     <!--<property name="hbm2ddl.auto">update</property>-->
  </session-factory>
</hibernate-configuration>